<div class="container">
  <h1 class="text-center d-block mt-5 mb-3">
    <span class="badge badge-success badge-pill">
      <%= @purchase.menu.category.name %>
    </span>
    <%= @purchase.name %>
    <br/>
    總金額：
    ＄<%= @purchase.total_price %>
  </h1>
  <% if @purchase.is_enable %>
    <div class="d-flex justify-content-end mb-3">
      <%= link_to "提前關閉",
                  close_purchase_path(@purchase),
                  method: :post,
                  data: { confirm: "確定關閉點餐？" },
                  class: "btn btn-outline-danger" %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-10 offset-xs-1 col-sm-8 offset-sm-2">
      <table class="table">
        <thead>
          <tr>
            <th>訂購人</th>
            <th>餐點</th>
            <th>價格</th>
            <th>數量</th>
            <th>備註</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <h6>
                  <%= order.user.name %>
                  <span class="badge badge-info">
                    ＄<%= order.total_price %>
                  </span>
                </h6>
                <% if order.user == current_user && order.purchase.is_enable %>
                  <%= link_to "修改", edit_order_purchase_path(order.purchase), class: "btn btn-secondary btn-sm" %>
                <% end %>
              </td>
              <td>
              <% order.order_items.each do |item| %>
                <p><%= item.name %></p>
              <% end %>
              <td>
              <% order.order_items.each do |item| %>
                <p>＄<%= item.price %></p>
              <% end %>
              </td>
              <td>
              <% order.order_items.each do |item| %>
                <p><%= item.qty %></p>
              <% end %>
              </td>
              <td>
              <% order.order_items.each do |item| %>
                <p><%= item.note %></p>
              <% end %>
              </td>
              <td>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h3>統計</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>品項</th>
            <th>數量</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody>
          <% @total_items.each do |name,content| %>
            <tr>
              <td><%= name %></td>
              <td><%= content.last %></td>
              <td><%= content.first %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>