<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>日期</th>
            <th>分類</th>
            <th>訂餐名稱</th>
            <th>是否結束</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <% purchases.each do |purchase| %>
            <tr>
              <td><%= purchase.open_date.strftime("%Y-%m-%d") %></td>
              <td><%= purchase.menu.category.name %></td>
              <td><%= purchase.name %></td>
              <td><%= purchase.is_enable ? "開啟" : "結束"%></td>
              <td>
                <%= link_to "看團單", show_orders_purchase_path(purchase), class: "btn btn-info btn-sm" %>
                <% if purchase.owner?(current_user) %>
                  <%= link_to "編輯", edit_purchase_path(purchase), class: "btn btn-primary btn-sm" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>