<%= form_for [:admin, @menu] do |f| %>
  <div class="form-group">
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "選擇分類" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "請輸入菜單名稱", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :phonenumber, placeholder: "請輸入店家電話", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :description, placeholder: "備註", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.file_field :file_location, class: "form-control-file" %>
  </div>
  <h3>產品清單</h3>
  <div id="products">
    <%= f.fields_for :products do |product| %>
      <%= render partial: "product_fields", locals:{ f: product } %>
    <% end %>
    <div class="links mb-3">
      <%= link_to_add_association "新增品項", f, :products , class: "btn btn-outline-primary w-100" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "送出", class: "btn btn-primary w-100" %>
  </div>
<% end %>